version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:1.8
        environment:
          MIX_ENV: test

    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo apt install libfluidsynth-dev fluid-soundfont-gm
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix test
      - run: mix format --check-formatted
